@font-face {
    font-family: 'Mukta';
    src: url('../fonts/Mukta-Bold.ttf');
}
@font-face {
    font-family: 'Mukta';
    src: url('../fonts/Mukta-ExtraBold.ttf');
}
@font-face {
    font-family: 'Mukta';
    src: url('../fonts/Mukta-ExtraLight.ttf');
}
@font-face {
    font-family: 'Mukta';
    src: url('../fonts/Mukta-Light.ttf');
}
@font-face {
    font-family: 'Mukta';
    src: url('../fonts/Mukta-Medium.ttf');
}
@font-face {
    font-family: 'Mukta';
    src: url('../fonts/Mukta-Regular.ttf');
}
@font-face {
    font-family: 'Mukta';
    src: url('../fonts/Mukta-SemiBold.ttf');
}