.input-login {
    @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
}
input {
    &.error {
        @apply border-red-custom;
    }
}
.form-error {
    @apply text-red-custom text-sm mt-1;
}
body {
    @apply bg-white;
}
body *{
    font-family: 'Mukta', sans-serif;
}

.content-uploads {
    border-radius: 24px;
    border: 2px dashed #848080;
    background-color: #f5f5f5;
    height: 150px;
}

.title {
    @apply mb-2 text-4xl font-bold text-fuchsia-800 pr-5;
}
.subtitle {
    @apply text-indigo-950 font-bold text-2xl text-fuchsia-950 pr-5;
}
.text-input {
    @apply text-xl text-violet-950;
}
.input-form {
    @apply w-max w-3/4 border-2 border-gray-100 rounded-xl p-2 mt-1 bg-transparent;
}
.btn-primary {
    @apply w-40 h-10 border-x border-y border-black text-white bg-violet-800 rounded-lg hover:bg-black;
}
.btn-cancel {
    @apply w-40 h-10 border-x border-y border-black bg-slate-50 rounded-lg text-center pt-2;
}
.docker {
    border-bottom: 2px solid #9c9a96;
}
.btn-delete {
    @apply w-40 h-10 border-x border-y border-black text-white bg-black rounded-lg hover:bg-red-900;
}
.input-form {
    @apply border-inherit w-full rounded-lg;
}
.section-form {
    background: rgb(255,255,255);
    background: linear-gradient(56deg, rgba(255,255,255,1) 67%, rgba(255,255,255,1) 88%, rgba(224,212,242,0.8016456582633054) 97%);
}